html,body
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif
    font-size: 14px
    font-weight: 200
    color: #666

 @media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
    .border1px
        &:after 
            -webkit-transform: scaleY(0.7)
            transform: scaleY(0.7)
 @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
    .border1px
        &:after 
            -webkit-transform: scaleY(0.5)
            transform: scaleY(0.5)
 @media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
    .border1pxtop
        &:before 
            -webkit-transform: scaleY(0.7)
            transform: scaleY(0.7)
 @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
    .border1pxtop
        &:before 
            -webkit-transform: scaleY(0.5)
            transform: scaleY(0.5)


.clearfix
     display :inline-block
     &:after
        display: block
        content: "."
        height: 0
        line-height: 0
        clear: both
        visibility: hidden